@page "/counter"

<PageTitle>Counter</PageTitle>

<h1 class="text-3xl font-semibold mb-4">Counter</h1>

<p role="status" class="text-lg mb-4">Current count: @currentCount</p>

<button class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
